.card{
    width: 720px;
    border:1px solid gray;
    display:flex;
    flex-direction: row;
}

.card-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.card-left>h1{
    margin-top:15px;
    font-size:30px;
}
.card-left>p{
    color: rgb(70, 70, 70);
    margin-top:10px;
}
.card-left>span{
    font-weight: 400;
}
